body{  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form{
    background-color: #E6E5E5;

}

h3{
    text-align: center;
    color: #234465;
}

ol{
    text-decoration: underline;
}